//
//  shared-ShareExtension.xcconfig
//  App
//
//  Created by 김영균 on 7/1/24.
//  Copyright © 2024 mashup.dorabangs. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 1.0.6

CURRENT_PROJECT_VERSION = 1.0.6

IPHONEOS_DEPLOYMENT_TARGET = 17.0

DEVELOPMENT_TEAM = 8ATYCP492F

CODE_SIGN_STYLE = Manual
